* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font: 13px Monospace;
}
section {
	background: black;
	height: 500px;
	position: relative;
	width: 50%;
	color: rgb(192, 192, 192);
}
form {
	background: #000;
	bottom: 0;
	padding: 3px;
	/*position: absolute;*/
	width: 100%;
}
form input {
	border: 0;
	margin-right: .5%;
	padding: 10px;
	width: 79%;
	background: black;
	color: rgb(192, 192, 192);
}
form button {
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
	width: 9%;
}
#messages {
	background: black;
	list-style-type: none;
	margin: 0; padding: 0;
	max-height: 100%;
	height: 100%;
	overflow-y: scroll;
}
#messages li {
	padding: 5px 10px;
	position: relative;
	max-width: 100%;
	word-break: break-all;
}
.prompt-green {
	color: rgb(0, 128, 0);
}
.prompt-yellow {
	color: rgb(128, 128, 0);
}
